body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.converter {
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjusted for padding and border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

input[type="number"] {
    width: calc(33% - 20px); /* Adjust width to fit three inputs in a row */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, button:focus {
    background-color: #45a049;
    outline: none; /* Removes outline on focus */
}

p {
    margin-top: 15px;
    color: #333;
}
